
.material-symbols-outlined {
  padding-left: 10px;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.high{
 color: red;
}

.medium{
  color: yellow;
}

.low {
  color: green;
}
