@import 'icons.css';
@import 'inputs.css';
@import 'lists.css';
@import 'buttons.css';


:root {
  /* colors */
  --blue: #1B2845;
  --green: #89B0AE;
  --orange: #F08700;
  --white: #F9F5F1;
  --grey: #393E41;

}

body {
  background-color: var(--white);
  color: var(--blue);
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

#main-container {
  padding: 5px 25px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px
}
