.hidden{
  display:none;
}

input{
 height: 30px;
border-style: none none solid none;
background-color: var(--white);
border-color: var(--blue);
}

input[type=text]{
  border-radius: 5px 5px 0 0;
  padding-left: 5px;
  font-size: 18px;
}

::placeholder{
  font-family: var(--content-font);
}

form{
  display: flex;
  justify-content: space-between;
}

.inline-button{
  font-size: 18px;
  height: 30px;
  width: 30px;
  line-height: 25px;
}

#task-form{
  width: 90%;
}


