#project-list {
  width: 100%;
  flex-direction: column;
  background-color: var(--blue);
}

.task, .project {
  font-size: 18px;
  list-style: none;
  text-transform: capitalize;
  width: 80%;
  border-radius: 10px;
  transition: background-color 0.5s;
  transition: color 0.5s;
}

.project{
  padding: 10px 5px;
}

.project:hover {
  background-color: var(--white);
  color: var(--blue);
}

.project-task-info{
  display: flex;
  justify-content: flex-start;
}

#todo-content {
  display: flex;
  position: relative;
  min-height: 80vh;
}

#project-names {
  width: 20%;
  color: var(--white);
}

#project-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--green-transparent);
  width: 80%;
}

#task-list {
  justify-self: flex-start;
  width: 85%;
}

.task{
  background-color: var(--green-transparent);
  margin: 20px;
  padding: 0px 15px 15px 15px;
}

.task-container-top{
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.task-container-bottom{
  margin: 0 !important;
}

.main-task-info{
  display:flex;
  width: 50%;
  justify-content: flex-start;
  align-items: center;
}

.task-container{
  padding: 0;
}
